.SubcribeCard {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 350px;
  border-radius: var(--border-radius-lg);
  background: var(--TercearyBgColor);
  overflow: hidden;
  .SubcribeContent {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 64px;

    .SubcribeText {
      margin: 0 0 24px 0;
      h2 {
        margin: 0 0 12px 0;
      }
    }

    .SubcribeInput {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
      .SubcribeInputElement {
        width: 70%;

        display: flex;
        padding: 10px 8px 10px 12px;
        align-items: center;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid rgb(139, 139, 139);
      }
      .SubcribeBtn {
        width: 30%;

        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        color: white;
        background: var(--SecondaryBgColor);
        border: none;
        font-weight: 600;
        font-size: var(--ContentTextSize);
      }
    }
  }

  .SubcribeImage {
    top: 0;
    right: 0;
    position: absolute;
    width: 30%;
    padding: 12px 0 12px 0;
    margin: 0 30px 0 0;
  }

  @include media-down(lg) {
    .SubcribeContent {
      width: 80%;
      margin: 32px;

      .SubcribeInput {
        width: 100%;
      }
    }
  }

  @include media-down(md) {
    .SubcribeContent {
      width: 80%;
      margin: 32px;
      z-index: 5;
      .SubcribeInput {
        width: 100%;
      }
    }
    .SubcribeImage {
      img {
      }
    }
  }

  @include media-down(sm) {
    .SubcribeContent {
      margin: 15px;
      width: 100%;

      .SubcribeInput {
        gap: 0;
        .SubcribeBtn {
          width: 100px;
          padding: 0;
          font-weight: normal;
        }
      }
    }
  }
}
