$breakpoints:(
    sm:580px,
    md:768px,
    lg:1024px,
    xlg:1440px,
  );
  
  @mixin media-down($breakpoint){
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content
    }
  }