.Welcome{
  // position: absolute;
  width: 100%;
  height: calc(100vh - 300px);

  background-color: var(--AccentBgColor);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;
  .WelcomeForm{
    width: 80%;
    max-width: 600px;

    display: flex;

    align-items: center;
    justify-content: center;

    background: var(--SecondaryBgColor);
    border: 1px solid white;

    padding: 30px;

    form{
      display: flex;
      flex-direction: column;
      gap: 20px;

      button{
        background-color: var(--PrimaryBtnColor);
      }
    }
  }

}
