.CardProject {
  width: 320px;
  height: 450px;
  box-shadow:var(--box-shadow-primary);
  border-radius: var(--border-radius-sm);
  background-color: var(--cardBgColor);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  h3,p{
    color: var(--cardTextColor) !important;
  }
  .CardProjectImage {
    height: 55%;
    overflow: hidden;
    img {
      height: 100% !important;
      width: 100%;
      object-fit: cover;
    }
  }

  .CardProjectBody {
    height: 33%;
    margin: 10px 20px 0;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; // Número de líneas que deseas mostrar antes de truncar
    -webkit-box-orient: vertical;
    h3 {
      margin: 0 0 5px 0;
      max-height: 45px;
      overflow: hidden;
    }
    p{
      font-style: italic;
      font-size: 16px;
    }
  }
  .CardProjectLabels {
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    margin: 0 20px 20px;
    overflow: hidden;

    .label {
      padding: 2px 8px;
      color: rgb(0, 85, 146);
      border-radius: 50px;
      background: #e5eeff;
      text-align: center;

      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 133.333% */
    }
  }

  @include media-down(sm){
    width: 260px;
  }
}
