.moonIcon{
  background: none;
  border: none;
  // box-shadow: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

.sunIcon{
  background: none;
  border: none;
  // box-shadow: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
