.cardProduct {
  max-width: 320px;
  // width: 33%;
  height: 380px;
  border-radius: 0;
  background-color: var(--cardBgColor) !important;

  fill: var(--cardTextColor);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow-primary);
  h3 {
    color: var(--cardTextColor) !important;
  }
  .cardImage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;

    width: 100%;
    margin: 0 10px;
    overflow: hidden;
    .productImage {
      width: 100%;
      height: 100%;
      transform: scale(1.2);
    }
  }
  .cardTitle {
    text-align: center;
    padding: 5px 10px;
  }

  .cardFooter {
    margin: 0;
    width: 100%;
    padding: 20px;

    .btnGeneral {
      border-radius: 0;
      margin: 0;
      height: 50px;
      // background: var(--SecondaryBgColor);
    }
  }
}
