.cardProduct{
    width: 540px;
    height: 360px;
    border-radius: var(--border-radius-lg);
    background-color: var(--cardBgColor);
    color: var(--cardTextColor);
    fill: var(--cardTextColor);
    // font-size: var();
    // border: 1px solid black;

    display: flex;
    align-items: center;
    flex-direction: row;
    
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.116) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.055) inset, 2px 4px 4px 0px rgba(0, 0, 0, 0.13);
    
     
    
    .cardImage{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 45%;
        margin: 0 20px;
        overflow: hidden;
        .productImage{
            width: 100%;
            height: auto;
            transform: scale(1.2);

        }

        button{
            background:var(--SecondaryBgColor);

        }
    }

    .cardBody{
        width: 55%;
        margin: 0 20px;
        h4{
            font-size: var(--cardTitleSize);
        } 
        p{  
            line-height: 18px;
            margin: 10px 0;
            font-size: var(--cardBodySize);

        }
    }
}