.iqeaBtn {
  display: flex;
  justify-content: center;

  
  button {
    width: 100%;
    align-items: center;
    padding: 10px 16.595px 9.5px 16.795px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
      0px 6px 12px 0px rgba(0, 0, 0, 0.08);
    outline: none;
    border: none;
    background: var(--SecondaryBgColor);
    color: white;
  }
}
