@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
:root {
  --max-width: 1200px;
  --border-radius-logo:2px;
  --border-radius-sm: 0;
  --border-radius-lg: 0;
  --border-radius-xlg: 0;

  --font-mono: 'Merriweather Sans', sans-serif, ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* VARIABLES DE GENERALES */

  --PrimaryBgColor: #ffffff;
  --AccentBgColor: #e4e4e4;
  --SecondaryBgColor: #a59eff;
  --TercearyBgColor: #a2d5ac;


  --PrimaryTextColor: #0f0f0f;
  --SecondaryTextColor: #0f0f0f;

  --PrimaryBtnColor:rgb(65,31,164);

  --SecondaryBtnColor:#16da6e;


  --TitleTextSize: 36px;
  --SubtitleTextSize: 28px;
  --ContentTextSize: 16px;
  --CardTextSize: 16px;

  /* VARIABLES DE CARDS */
  --cardBgColor: #f7f7f7;
  --cardTextColor: #131313;
  --cardTitleSize: 20px;
  --cardBodySize: 16px;

  /* VARIABLES DE NAVBAR */
  --navbarBgColor: #452D61;
  --navbarTextColor: #ffffff;
  --navbarTextSize: 16px;
  --nav-size: 80px;
  --box-shadow-navbar:0px 3px 3px 0px rgba(0, 0, 0, 0.767);

  /* VARIABLES DE FOOTER */
  --footerBgColor: #452D61;
  --footerTextColor: #ffffff;



  --box-shadow-primary: 0px 2px 4px 0px rgba(0, 0, 0, 0.74),
      0px 6px 12px 0px rgba(0, 0, 0, 0.08);

  --paddingDesktop: 112px;
  @include media-down(xlg) {
    --paddingDesktop: 72px;
  }
  @include media-down(lg) {
    --paddingDesktop: 48px;
  }
  @include media-down(md) {
    --border-radius-sm: 0;

    --TitleTextSize: 32px;
    --SubtitleTextSize: 24px;
    --ContentTextSize: 16px;
    --CardTextSize: 16px;

    --cardTitleSize: 24px;
    --cardBodySize: 16px;

    --paddingDesktop: 28px;
  }
  @include media-down(sm) {
    --border-radius-sm: 0;

    --TitleTextSize: 20px;
    --SubtitleTextSize: 18px;
    --ContentTextSize: 16px;

    --CardTextSize: 16px;

    --cardTitleSize: 20px;

    --cardBodySize: 16px;

    --paddingDesktop: 24px;
  }


  &.dark{
    /* VARIABLES DE GENERALES */
    --PrimaryBgColor: #000000;
    --AccentBgColor: #262626;
    --SecondaryBgColor: #005272;
    --TercearyBgColor: #a2d5ac;


    --PrimaryTextColor: #ffffff;
    --SecondaryTextColor: #eeeeee;

    --PrimaryBtnColor:rgb(65,31,164);

    --SecondaryBtnColor:#16da6e;




    /* VARIABLES DE CARDS */
    --cardBgColor: #f7f7f7;
    --cardTextColor: #131313;


    /* VARIABLES DE NAVBAR */
    --navbarBgColor: #005272;
    --navbarTextColor: #ffffff;

    --box-shadow-navbar:0px 3px 3px 0px rgba(0, 0, 0, 0.767);

    /* VARIABLES DE FOOTER */
    --footerBgColor: #005272;
    --footerTextColor: #e7e7e7;



    --box-shadow-primary: 0px 2px 4px 0px rgba(0, 0, 0, 0.74),
        0px 6px 12px 0px rgba(0, 0, 0, 0.08);

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  background: var(--PrimaryBgColor);

  margin: 0 auto;

  font-family: var(--font-mono);
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2 {
  font-size: var(--TitleTextSize);
  // color: var(--PrimaryTextColor);

}

p {
  font-size: var(--ContentTextSize);
  line-height: 28px;
  // color: var(--PrimaryTextColor);
}
h1,h2,h3,h4,h5,p{
  color: var(--PrimaryTextColor);

}
button:hover {
  cursor: pointer;
  transform: translateY(2px);
}
.btnGeneral {
  padding: 10px 20px;
  border: none;
  color: #f8f8f8;
  fill: #f8f8f8;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--PrimaryBtnColor) ;

}

.centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.truncate {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  align-items: center;
  padding: 10px 16.595px 9.5px 16.795px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 6px 12px 0px rgba(0, 0, 0, 0.08);
  outline: none;
  border: none;
  // background: var(--SecondaryBgColor);
  color: white;
  // background: var(--PrimaryBtnColor) !important;
  font-weight: 600;
  font-size: var(--ContentTextSize);
}

table, form,label{
  color: var(--PrimaryTextColor);
}
