
.statsCard {
  width: 300px;
  height: 380px;
  //   border: 1px solid black;
  // border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--SecondaryTextColor);
  .ContenedorPrincipal{
    width: 100%;
    .title {
      margin: 20px 0;
      h2 {
        font-size: var(--TitleTextSize);
      }
    }
    .subtitle {
      p {
        text-align: left;
        font-size: 20px;
      }
    }
  }
  .image {
    background: #ffffff;
    padding: 25px;
    border-radius: 50%;
  }


  @include media-down(lg){
    width: 220px;
    height: 340px;

    .image{
      width: 120px;
      height: 120px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }

  
  
  @include media-down(md){
    width: 200px;
    height: 340px;
    .ContenedorPrincipal{
      width: 80%;
      .title {
        margin: 20px 0;
        h2 {
          font-size: var(--TitleTextSize);
        }
      }
      .subtitle {
        p {
          text-align: left;
          font-size: 20px;
        }
      }
    }
    .image{
      width: 100px;
      height: 100px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}






 