.statsCard {
  width: 250px;
  height: 300px;
  //   border: 1px solid black;
  // border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--SecondaryTextColor);
  .ContenedorPrincipal {
    width: 100%;
    .title {
      margin: 10px 0;
      h2 {
        font-size: var(--TitleTextSize);
      }
    }
    .subtitle {
      p {
        text-align: left;
        font-size: 20px;
      }
    }
  }
  .image {
    background: #ffffff;
    padding: 25px;
    border-radius: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }

  @include media-down(lg) {
    width: 220px;
    height: 280px;

    .image {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: auto;
      }
    }

  }
  @include media-down(md) {
    width: 180px;
    height: 260px;

    .image {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @include media-down(sm) {
    width: 70%;
    height: 100%;
    .ContenedorPrincipal {
      width: 80%;
      .title {
        margin: 10px 0;
        h2 {
          font-size: var(--TitleTextSize);
        }
      }
      .subtitle {
        p {
          line-height: 24px;
          text-align: left;
          font-size: var(--ContentTextSize);
        }
      }
    }
    .image {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
