.SistemasDetailPage {
  margin: auto;
  max-width: var(--max-width);
  color: var(--PrimaryTextColor);

  .pageTitle {
    margin: 30px 0;
  }

  .contenido {
    overflow: hidden;
    margin: 30px 0;
    .table {
      overflow-x: scroll !important;

      table {
        border-collapse: collapse;
      }
    }
    .table {
      table {
        overflow-x: scroll;
        border-collapse: collapse;
        thead {
          background-color: rgb(0, 125, 141);
        }
        tbody {
          tr:nth-child(even) {
            background-color: #004563;
          }
          tr {
            background-color: rgb(51, 87, 0);
            td {
              padding: 6px !important;
              // width: 150px;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }

  @include media-down(lg) {
    padding: 0 var(--paddingDesktop);
  }
}
