:root {
  --border: 1px solid #c5c5c5;
  --border-radius: 12px;
  --speed: 500ms;
}

.nav-item {
  // width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropdown {
  position: absolute;
  top: calc(var(--nav-size) - 31px);
  right: -16px;
  width: 275px;

  background-color: var(--navbarBgColor);
  box-shadow: var(--box-shadow-navbar);
  border-top: var(--border);
  border-radius: var(--border-radius);
  // border-bottom-left-radius: var(--border-radius);
  // border-bottom-right-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  // overflow-y: visible;

  display: flex;
  flex-direction: column;

  transition: height var(--speed) ease;

  .menu-item {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;

    .menu-item-link{
      display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 80%;
    }

    .icon-button {
      --button-size: calc(var(--nav-size) * 0.3);
      width: var(--button-size);
      min-width: 10%;
      height: var(--button-size);
      background-color: #484a4d28;
      border-radius: 50%;

      padding: 5px;
      margin: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      transition: filter 300ms;
    }
    .icon-right {
      margin-left: auto;
    }
  }

  .menu-item:hover {
    background-color: rgba(82, 83, 87, 0.103);
  }
}

.arrow {
  content: "";
  position: absolute;
  top: calc(var(--nav-size) * 0.5);
  right: 25px;
  height: 20px;
  width: 20px;
  background-color: var(--navbarBgColor);
  // background-color: #345;
  border-top: var(--border);
  border-left: var(--border);
  transform: rotate(45deg);
  z-index: 101;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
