.iqeaFooter {
  height: 450px;
  padding: 0 var(--paddingDesktop);

  background-color: var(--footerBgColor);
  color: var(--footerTextColor);

  // .footerSeparator{
  //     width: 70%;
  //     margin: 0 auto;
  // }
  .footerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin: 0 auto;
    max-width: var(--max-width);

    .logoIqea {
      width: 120px;
      height: auto;
      background-color: white;
      padding: 10px;
      border-radius: var(--border-radius-logo);
    }

    .redesSociales {
      ul {
        display: flex;

        li {
          list-style: none;

          .socialLinks {
            margin: 0 20px;

            .facebook:hover {
              color: white;
              background-color: #4e66f8;
              stroke: #4e66f8;
              // border: solid 2px rgba(0, 0, 0, 0.418);
              border-radius: 5px;

            }
            .instagram:hover {
              color: white;
              background: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
              );
              // border: solid 2px rgba(155, 155, 155, 0.418);
              border-radius: 5px;
            }
            .youtube:hover {
              color: white;
              background-color: #ff0000;
              // border: solid 2px rgba(0, 0, 0, 0.418);
              border-radius: 5px;

            }
            .socialMediaIcon {
              width: 32px;
              height: 32px;
              fill: var(--footerTextColor);
            }
          }
        }
      }
    }
  }
  .footerSeparator {
    margin: 0 auto;
    max-width: var(--max-width);
  }
  .footerBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    margin: 0 auto;
    max-width: var(--max-width);
    .contact {
      width: 35%;
      h4 {
        font-size: 24px;
        margin: 20px 0;
      }
      .direccion,
      .telefono,
      .email {
        display: flex;
        margin: 10px 0;
      }
      .contactRow {
        display: flex;
        flex-direction: column;
      }
      .footerIcon {
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
        fill: var(--footerTextColor);
      }
    }

    .navbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 80%;
      width: 30%;
      max-width: 235px;
      .active {
        border-bottom: 2px solid var(--PrimaryBgColor);
      }
      .footerNav {
        max-height: 40px;
        margin: 0 10px;
        padding: 15px 0;
      }
    }
    .subEmail{
      width: 35%;
      height: 80%;
    }
  }

  .footerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 0 auto;
    max-width: var(--max-width);

    .develop {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 12px;
      }
      .jsdevLogo {
        margin: 0 0 0 5px;
        width: 100px;
        height: auto;
      }
    }
  }
}

@include media-down(sm) {
  .iqeaFooter {
    height: 100%;

    .footerHeader {
      flex-direction: column;

      .logoIqea {
        margin: 20px 0 10px;
        height: auto;
        background-color: white;
        padding: 10px;
        border-radius: var(--border-radius-logo);
      }

      .redesSociales {
        margin: 20px 0;

        ul {
          display: flex;

          li {
            list-style: none;

            .socialLinks {
              margin: 0 20px;
              .socialMediaIcon {
                width: 32px;
                height: 32px;
                fill: var(--footerTextColor);
              }
            }
          }
        }
      }
    }

    .footerBody {
      flex-direction: column-reverse;
      height: 60%;
      .contact {
        width: 100%;
      }
      .navbar {
        width: 100%;

        margin: 10px 0;
      }
      .subEmail{
        width: 100%;

      }
    }

    .footerFooter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 10%;

      .develop {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
        p {
          font-size: 14px;
        }
        .jsdevLogo {
          margin: 0 0 0 5px;
          width: 120px;
          height: auto;
        }
      }
    }
  }
}
