.SubcribeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    padding: 20px  var(--paddingDesktop);

    margin: 0 auto;
    max-width: var(--max-width);

    @include media-down(sm){
      padding: 0;

    }
}
