.productDetail {
  // padding: 0 var(--paddingDesktop);
  margin: auto;
  max-width: var(--max-width);


  .breadcrums{
    margin: 20px 0;
    font-weight: 300;
  }
  .productDetailTitle {
    width: 100%;

    h2 {
      text-align: center;
    }
  }

  .descripcion{
    margin: 15px 0;
    img{
      width: 100%;
      height: auto;
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  .contenido {
    overflow-x: hidden;
    margin: 15px 0 ;

    h3{
      font-size: 24px;
    }
    img{
      width: 100%;
      height: auto;
    }
    figure{
      .table{
        overflow-x: scroll;
      }
    }
    div{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      ol,ul{
        width: 90%;
      }
      li::marker {
        margin-right: 0; /* Ajusta el margen derecho del marcador */
      }
        li{
          margin: 15px 0;

            margin-left: 0;
            padding-left: 0;


        }
      .table{
        table{
          border-collapse: collapse;
          thead{
            background-color: rgb(197, 201, 255);
          }
          tbody{
            tr:nth-child(even) {background-color: #c2edff;}
            tr{
            background-color: #dbffa8;

              td{
                padding: 6px !important;
                // width: 150px;
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
  }
}
